{% extends 'base.html' %}

<!-- start main section -->
{% block content %}
<main class="container">
  <!-- Vertical Steppers -->
  <div class="row mt-1">
    <div class="col-md-12">
      <ul class="stepper stepper-vertical">
        {% for progress in progress_list %}
        <li class="completed">
          <a>
            <span class="circle"><i class="far fa-user"></i></span>
            <span class="label"
              >{{ progress.owner.first_name }}
              {{ progress.owner.last_name }}</span
            >
          </a>

          <div class="step-content grey lighten-3 rounded" style="width:80%;">
            <div class="row">
              <div class="col-10">
                <h3 class="d-inline-block">{{ progress.title }}</h3>
              </div>
              <div class="col-2">
                <a
                  data-toggle="modal"
                  data-target="#remove_progress"
                  class="p-0 text-danger justify-content-end"
                >
                  <i class="fas fa-times"></i>
                </a>
              </div>
            </div>
            <hr />
            <p style="font-size:1.1rem;">{{ progress.details }}</p>
            <p class="text-right grey-text font-weight-bold">
              {{ progress.added }}
            </p>
          </div>
        </li>

        <!-- Modal -->
        <div
          class="modal fade"
          id="remove_progress"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Confirm deleting progress
                </h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you Sure you want to delete the progress?
              </div>
              <div class="modal-footer border-0">
                <button
                  type="button"
                  class="btn btn-outline-primary rounded"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <a
                  href="{% url 'remove' progress.id %}"
                  class="btn btn-danger rounded"
                >
                  Delete
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- ADD FLOATING BUTTON -->
  <a
    href="{% url 'add' %}"
    class="btn px-0 pt-3 rounded-circle btn-primary"
    style="height:60px;width:60px;position:fixed;top:85vh;right:30px;"
  >
    <i class="fas fa-plus fa-2x"></i>
  </a>

  <!-- Modal -->
</main>
{% endblock %}
